nav.pdoc {
    box-shadow: none;
}

.pdoc > section:not(.module-info) {
    margin-bottom: 3rem;
}

.pdoc > section:not(.module-info) > .attr {
    background-color: #e0e0e0;
}

li > p {
    margin-bottom: 0.5rem;
}
