nav.pdoc {
    box-shadow: none;
}

.pdoc > section {
    margin-bottom: 5rem !important;
}

.pdoc > section:last-of-type {
    margin-bottom: 0rem !important;
}

.pdoc > section:not(.module-info) > .attr {
    border-left-style: solid;
    border-left-color: #ff99d6;
    border-left-width: 0.5rem;
    padding-left: 0.5rem;
}

li > p {
    margin-bottom: 0.5rem;
}

/* adapted from https://github.com/mitmproxy/pdoc/blob/v12.0.2/pdoc/templates/content.css */

.view-docstring-toggle-state,
.view-docstring-toggle-state ~ .docstring {
    display: none;
}

.view-docstring-toggle-state:checked ~ .docstring {
    display: block;
}

.view-docstring-button {
    display: inline-block;
    float: right;
    font-size: .75rem;
    line-height: 1.5rem;
    color: var(--muted);
    padding: 0 .4rem 0 1.3rem;
    cursor: pointer;
    text-indent: -2px;
}

.view-docstring-button > span {
    visibility: hidden;
}

.view-docstring-button::before {
    position: absolute;
    content: "View Docstring";
    display: list-item;
    list-style-type: disclosure-closed;
}

.view-docstring-toggle-state:checked ~ .attr .view-docstring-button::before,
.view-docstring-toggle-state:checked ~ .view-docstring-button::before {
    list-style-type: disclosure-open;
}
