name: pytest-cron

on:
  schedule:
    - cron: '0 9 * * 2'  # Every Tuesday at 09:00 UTC

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  pytest-cron:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install liesel without lockfile
        run: uv pip install .[dev]  # or `uv pip install .[dev]` if not editable

      - name: Run pytest
        run: uv pip run pytest --run-mcmc

      - name: Run doctests
        run: uv run pytest --doctest-modules src/liesel
